
#log {
    width: 100%;
    position:absolute;
    bottom:10px;
    font-size:1.0em;
    font-weight:bold;
    color: white;
    background: black;
}


#infovis {
    position:relative;
    width:600px;
    height:600px;
    margin:auto;
    overflow:hidden;
}

/*TOOLTIPS*/
.tip {
    display:none;

}
